@import '../../assets/css/main.css';


.header {
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    width: 100%;
} 

.header__logo{
    flex-shrink: 0;
}

.header__left {
    padding-bottom: 3px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%; 
    justify-content: flex-start;
}

.header__right{
    padding-bottom: 3px;
    display: flex;
    gap: 15px; 
    align-items: center;
    width: 100%; 
    justify-content: flex-end;
}
/* -------------bottom--------------------------- */

.bottom{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}
.bottom__selector{
    display: flex;   
}
.bottom__selector_p{
    padding: 5px 10px; 
    background-color: var(--gray-light);
    border-radius: 30px;
    font-weight: 400; 
    margin-right: 20px;
    cursor: pointer;
    transform: 0.5s;
    user-select:none;
}
.bottom__selector_active{
    padding: 5px 10px; 
    background-color: var(--red);
    border-radius: 30px;
    font-weight: 600; 
    margin-right: 20px;
    cursor: pointer;
    color: var(--white); 
    user-select:none;

}

.bottom__selector_p:hover{ 
    background-color: var(--red-light); 
    color: var(--white); 
}



/* -------------search--------------------------- */
.search__input{
    border: 1px solid var(--gray-blue);
    border-radius: 30px ;
    padding: 5px 10px; 
    width: 360px;
}

