@import '../../assets/css/main.css';


.header {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
} 

.header__logo{
    flex-shrink: 0;
}

.header__left {
    padding-bottom: 3px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%; 
    justify-content: flex-start;
}

.header__right{
    padding-bottom: 3px;
    display: flex;
    gap: 15px; 
    align-items: center;
    width: 100%; 
    justify-content: flex-end;
}

/* -------------search--------------------------- */
.search__input{
    border: 1px solid var(--gray-blue);
    border-radius: 30px ;
    padding: 5px 10px; 
    width: 360px;
}

/* -------------separator--------------------------- */
.separator{
    background-color: var(--gray-light);
    height: 1px;
    width: 100%;
    margin-top:5px;
}